@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif
}
.container{
    text-align: center;
    color: #333;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(bg1.avif);
    background-size: cover;
    background-position: center;
}

/* first */
h1 {
	font-weight: 700;
	font-size: 48px;
    margin: 2rem 0;
}
a{
    display: inline-block;
	padding: 16px 56px;
	background-color: #333;
    color: white;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	font-weight: 700;
	letter-spacing: 0.5px;
	font-size: 14px;
}

/* Second */
.second{
    background-image: url(bg2.avif);
    background-attachment: fixed;
    height: 100vh;
    flex-direction: row;
    gap: 26px;
}
.item{
    display: flex;
	max-width: 320px;
	background-color: white;
	flex-direction: column;
	align-items: center;
	border-radius: 0.5em;
	-webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
	box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}
.img {
	width: 90%;
	height: 200px;
	background-color: lightgrey;
	background-size: cover;
	background-position: center;
	margin-top: 20px;
    margin-bottom: 16px;
	border-radius: 0.3em;
}
.img-first {
	background-image: url(https://images.unsplash.com/photo-1522163182402-834f871fd851?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1606&q=80);
}
.img-second {
	background-image: url(https://images.unsplash.com/photo-1628746404106-4d3843b231b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2F2aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60);
}
.img-third {
	background-image: url(https://images.unsplash.com/photo-1632853073412-782bf0279d65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
.item .card h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.item .card p{
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}
.item .card a{
    margin: 0 0 2rem 0;
}

/* Third */
.third{
    background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-attachment: fixed;
	height: 100vh;
}
.third .content {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 2rem;
	border-radius: 1rem;
	max-width: 650px;
}
.third .content h2{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 2rem 0 0.5rem 0;
}
.third .content p{
    line-height: 1.5rem;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
}
